.about {
  min-height: 100vh;
  &-cv {
    &-header {
      padding: 3rem;
      min-height: 20rem;
      background: $second-color;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
    &-image {
      width: 11rem;
      height: 14.5rem;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: $second-font;
      color: $white-color;
      &-name {
        text-transform: uppercase;
        font-size: 4rem;
      }
      &-text {
        font-size: 1.8rem;
      }
      &-icon {
        font-size: 2rem;
        margin-right: 1.5rem;
      }
    }

    &-summary {
      text-align: justify;
      background: $white-color;
      padding: 3rem;
      line-height: 1.4;

      &-title {
        font-size: 3rem;
        color: $second-color;
        display: block;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #ccc;
      }
      &-content {
        font-family: $second-font;
        font-size: 2rem;
        padding-top: 1rem;
        color: rgb(75, 75, 75);
        margin-bottom: 1rem;
      }
    }
  }

  //responsive
  @include maxWidth(767px) {
    &-cv {
      &-header {
        flex-direction: column-reverse;
        align-items: center;
      }
      &-header,
      &-summary {
        padding: 2rem;
      }
      &-summary {
        text-align: left;
      }
      &-content {
        margin-top: 3rem;
        text-align: center;
        min-height: 15rem;
      }
    }
  }
}
