$white-color: #ffff;
$orange-color: orangered;
$normal-font: "Montserrat", sans-serif;
$special-font: "Pacifico", cursive;
$black-color: black;
$primary-color: #303d46;
$second-color: #17ccba;
$second-font: "Arimo", sans-serif;
$blue-color: #0984e3;
$gray-color: #686868;
$light-white: #ecf0f1;
